<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="API.Utilities.ExtentReportManager" />
    </listeners>

    <test thread-count="5" name="Test">
        <classes>
            <!--  <class name="API.Test.PetTest" /> -->
           <class name="API.Test.UserTests" /> 
            <!-- <class name="API.Test.DDTest" /> -->
            <!-- <class name="API.Test.StoreTests" /> -->
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
